body {
  font-family: Arial;
  text-align: center;
  margin-top: 40px;
}

input {
  padding: 8px;
  width: 200px;
}

button {
  padding: 8px;
  margin-left: 5px;
  cursor: pointer;
}

li {
  margin: 10px 0;
}